<%- include ./partials/header.ejs %>
 <div class="w-full h-screen flex items-center justify-center bg-zinc-400 bg-[url(https://images.unsplash.com/photo-1579547621706-1a9c79d5c9f1?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D)] bg-no-repeat bg-cover">
  <div class="w-full lg:max-w-[35vw] bg-zinc-100 px-20 capitalize py-10 rounded-lg ">
    <h1 class="text-3xl leading-none font-semibold text-zinc-500 tracking-tight text-center">Welcome to Pictofy.</h1>
    <form action="/login" method="post" class="text-center">
      <p class="font-semibold text-xs mt-10 w-full  text-red-500"><%= error  %></p>
      <input class="block rounded-md w-full px-3 py-2 mt-4 bg-zinc-50 border-2" type="text" name="username" placeholder="Username">
      <input class="block rounded-md w-full px-3 py-2 mt-4 bg-zinc-50 border-2" type="password" name="password" placeholder="Password" id="">
      <input class="block rounded-full w-full px-3 py-2 mt-4 bg-red-500 border-2 text-white" type="submit" >
      <a href="/register" class="mt-10 font-semibold inline-block text-center w-full ">Dont have an account?</a>
      <a href="#" class="mt-10 font-semibold inline-block text-center w-full ">Forgot password?</a>
      <p class="font-semibold text-xs mt-10 w-full  text-zinc-500">By continuing, you agree to Pinterest’s Business Terms of Service and acknowledge that you've read our Privacy Policy. Notice at collection</p>
    </form>
  </div>
 </div>
<%- include ./partials/footer.ejs %>